/* Variables */
:root {
    --body-color-dark: #020022;
    --body-color-light: aliceblue;
    --button-background: #39ff14;
    --button-background-sec: #2ac40f;
    --button-shadow-color: #1e9909;
    --button-border-radius: 10px 0 10px 0;
}

/* General Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Display and Container */

.positioner {
    height: 100vh;
    display: flex;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
}

.button-container.light {
    background-color: var(--body-color-light);
}

.button-container.dark {
    background-color: var(--body-color-dark);
}

/* Button Style */

.neon-button {
    position: relative;
    background-image: linear-gradient(135deg, var(--button-background) 0%, var(--button-background) 50%, var(--button-background-sec) 50%, var(--button-background-sec) 100%);
    padding: 15px 25px;
    border: 0;
    border-radius: var(--button-border-radius);
    box-shadow: 0 0 5px 2px var(--button-shadow-color);
    transition: box-shadow 600ms, background-position 350ms;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    background-size: 180% 100%;
    background-position: 100% 0;
    font-size: 20px;
}

.neon-button:hover {
    box-shadow: 0 0 5px 3px var(--button-background-sec);
    background-position: 0 0;
}

/* Queries for Mobile View */

@media screen and (max-width: 800px) {
    .positioner {
        flex-direction: column;
    }

    .button-container {
        flex: 100%;
    }

    .neon-button {
        font-size: 16px;
    }
}